@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin mq($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin bgImage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
