@use '../abtstracts/mixins';
.container {
  max-width: 90%;
  margin: 0 auto;
  @include mixins.mq(768px) {
    & {
      width: 100%;
    }
  }
}

.container-md {
  max-width: 75%;
  margin: 0 auto;
  @include mixins.mq(768px) {
    & {
      max-width: 90%;
    }
  }
}

h2 {
  font-size: 26px;
}
